@media screen and (min-width: 320px){
     body{
        width: 320px;
        height: 480px;
    }
    #slider{
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
    }
    #slider img{
        width: 100vw;
        height: 20rem;
    }
    #page1{
        width: 100vw;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: ;
    }
    
    .card{
        grid-column: 0/1;
        width: 420px;
        height: 480px;
    }
}
