@media screen and (min-width: 320px){
     body{
        width: 320px;
        height: 480px;
    }
    #slider{
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
    }
    #slider img{
        width: 100vw;
        height: 20rem;
    }
    .card{
        grid-column: 1/1;
        width: 420px;
        height: 480px;
    }
}
