@media screen and (min-width: 0px){
    body{
       
    }
    #slider{
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
    }
    #slider img{
        width: 100vw;
        height: 20rem;
    }
    #page1{
        grid-template-columns: repeat(auto-fit, nimax(200px, 1fr));
    }
    
    .card{
        width: 420px;
        height: 480px;
    }
    #page2{
        grid-template-columns: repeat(auto-fit, nimax(200px, 1fr));
    }
    .card1{
        width: 420px;
        height: 480px;
    }
}
