
#slider {
    width: 100vw;
    height: 100vh;

    position: relative;
     display: flex;
    justify-content: center;
    align-items: center;
}

#slider img{
   
    opacity: 0;
    position: absolute;
    border-radius: 30px;

    width: 95vw;
    height: 95vh;

    object-fit: cover;

    transition: opacity 10ms;
}

#slider img.selecte { 
    opacity: 1;
}

#slidet h1.selecte {
    opacity: 1;
}

#slider h1{
    opacity: 0;
    font-weight: 600;
    font-size: 50px;
    color: rgb(1, 1, 1);
    position: absolute;

}